body{
    background-color: #0A7798;
    color: white;
}
.rdioFnCs,.btn-clearAndConvert,
.tempLabel,.input-width, 
.output,.btn-clearAndConvert{
    margin-bottom: 10px;
}
.temperatureConverter{
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 30px;
}
.tempLabelAndInoutField{
    margin-top: 20px;
    margin-left: 30%;
    
}
.rdioFnCs{
    margin-left: 43%;
}
.tempLabel{
    margin-right: 20px;
    margin-left: 10%;
}
.btn-clearAndConvert{
    margin-top: 10px;
}
.input-width, .output{
    width: 200px;
}
.output{
    text-align:center;
}